<div class="login-portlet">
  <%= render 'cms/sites/flash' %>
  <div class="authenticated" style="display: none">
    <p>Hello, <span class="user-name"></span></p>
  </div>
  <div class="guest">
    <p>Guest</p>
  </div>
</div>